/*id or classes*/

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
/*put it at the tail end within the element/the last child of the selected element*/
.clearfix::after {
  content: "";
  /*"" empty string*/
  display: table;
  clear: both;
}

.heading-group-h1 {
  max-width: 80%;
}

#filters select {
  width: 90%;
  margin: .2em 5%;
  /*em is the size of letter m*/
  use em for text
}

@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }

  #filters select {
    /*any select box inside an element of filter*/
    width: 15em;
    margin: .2em .2em;
    top/bottom right and left
  }

  #filters li {
    width: 20em;
    display: inline;
  }
}
